<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Chart</title>
    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h2>Apple Prices</h2>

    <form action="/chart/year" method="get">
        <label for="grade">등급 :</label>
        <select id="grade" name="grade">
            <option th:each="Gradeview : ${Gradeview}"
                    th:value="${Gradeview.grade}"
                    th:text="${Gradeview.grade}"
                    th:selected="${Gradeview.grade} == ${selectedGrade}">
            </option>
        </select>
        
        <label for="variety">품종 :</label>
        <select id="variety" name="variety">
            <option th:each="Varietyview : ${Varietyview}"
            th:value="${Varietyview.variety}"
            th:text="${Varietyview.variety}"
            th:selected="${Varietyview.variety} == ${selectedVariety}">
        </option>
        </select>
        <button type="submit">검색</button>
    </form>
    <a href="/chart/month">월별 시세 보기</a>
    <p>이 상품의 가격의 기준은 10개 기준입니다.</p>
    <canvas id="priceChart" width="800" height="400"></canvas>

    <script th:inline="javascript">
        /* Thymeleaf에서 데이터를 JavaScript로 전달 */
        var salesData = /*[[${salesData}]]*/ [];

        // 데이터 추출 및 변환
        const prices = salesData.map(entry => entry['price']);
        const years = salesData.map(entry => entry['year']);

        // 차트 생성
        const ctx = document.getElementById('priceChart').getContext('2d');
        const priceChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: years,
                datasets: [{
                    label: 'price',
                    data: prices,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1,
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>
