<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재가입</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="signup-container">
        <h2>탈퇴 회원 재가입</h2>
        <form action="/login/resign/action" method="POST">
            <input type="id" name="id" placeholder="아이디" autofocus required>
            <input type="password" name="pw" placeholder="비밀번호" required>
            <input type="name" name="nm" placeholder="이름" required>
            <button type="submit">탈퇴 해제하기</button>
        </form>
    </div>
</body>
</html>